.hireme-section {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hireme-section h2 {
    font-size: 40px;
    font-weight: 700;
}

.hireme-section h2 span {
    color: var(--primary-color);
}